<h1>Products Page</h1>

<% @products.each do |product| %>
<div class = "product">

<%= link_to "Product Page", "/products/#{product.id}" %>
<br>
Name:
<%= product.name %>
<br>
Decription:
<%= product.description %>
<br>
Price:
<%= product.formatted_price %>
<br>
<br>
</div>
<%end%>
